// Part 5
.features__list {
    text-align: left;


    @include respond-to ('tablet') {
        display: flex;
        flex-wrap: wrap;
        
            justify-content: space-between;
    }
}

.features__thumb {
    display: block;
    text-align: center;
    background: $elements-bg-color;
    padding: 25px 0px;
    margin-bottom: 30px;
}

.features__item {
   max-width: 450px;

    @media screen and(max-width:1199.98px) {
           margin-bottom: 30px;
        }

                @include respond-to ('tablet') {
                    width: 354px;
                }

    @include respond-to ('desktop') {
            width: 270px;
        }
}

.features__card-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;

    @media screen and(max-width:767.98px) {
        text-align: center;
    }
}

.features__card-descr {
    font-size: 14px;
    line-height: 1.71;
}