// Part 11
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bg-color;

  &__container {

    @include respond-to ('tablet') {
      display: flex;
        text-align: center;
        align-items: baseline;
        justify-content: space-between;
        
    }

    @media screen and(min-width:768px) and(max-width:1199.98px)   {
          flex-direction: column;
          align-items: center;
    }

    @include respond-to ('desktop') {
      text-align: left;
    }
    
  }
}

.footer--left-side {
  @include respond-to ('tablet') {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  }
 
}

.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: $primary-bg-color;

    margin-bottom: 20px;

    @media screen and(max-width:767.98px) {
    margin-top: 60px;      
    }
}

// Тільки позиціонування блоку соцмереж, самі іконки - Part 9 _socials
.social-block {
    display: block;
    width: 206px;

   @media screen and(max-width:767.98px) {
      margin: auto;
    }
    
}

