// Part 2
.logo {
    color: $accent-primary-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
   

   @media screen and(max-width:767.98px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @include respond-to ('desktop') {
        font-size: 26px;
            line-height: calc(31 / 26);
    }
}

.logo--dark {
    color: $logo-color-header;
}

.logo__footer {
    margin-bottom: 28px;
    display: block;
    padding: 0;
}

.logo--light {
    color: $primary-bg-color;
}