// Part 13

.subscrubing {
  
    min-width: 320px;

    @include respond-to ('desktop') {
        display: flex;
    
    }
    
}

.subscrubing__field {
    position: relative;
    margin-right: 12px;     
}

.subscrubing__input {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    padding-left: 16px;
    background-color: $footer-bg-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: $icons-social-secondary;
    transition: border-color $anim-dur $anim-function;

           @media screen and(min-width:768px) and(max-width:1199.98px) {
                    width: 450px;
                    margin-bottom: 20px;
                }

    @include respond-to ('desktop') {
        width: 358px;
    }


    &:focus {
            outline: 0;
                color: $icons-social-secondary;
                border-color: $icons-social-secondary;
                transition: border-color $anim-dur $anim-function;
    }
}

.subscrubing__label {
    cursor: text;
    position: absolute;
    top: 20%;
    left: 16px;

    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.3);

    transform: translateY(-50%);
    transition: transform $anim-dur $anim-function,
    color $anim-dur $anim-function;

    @include respond-to ('tablet') {
    top: 50%;

    }
}

.subscrubing__field:focus-within .subscrubing__label,
.subscrubing__input:not(:placeholder-shown) +.subscrubing__label {
    cursor: default;
    color: $icons-social-secondary;
    transform: translateY(300%);
    transition: transform $anim-dur $anim-function,
    color $anim-dur $anim-function;

   
}


