// Part 7
.team {
    background-color: $elements-bg-color;

    &__list {
        text-align: center;
        
        @include respond-to ('tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
        }        
       
    }
}
